Html {
    box-sizing: border-box;
}

*,* ::after, *::before {
    box-sizing: inherit;
}
div {
 
}
#container {
    margin: 30px;
}
#header {
    display: flex;
}
#etsylogo {
    width: 15%;
}
#searchbar {
    width: 45%;
}
#signin {
    width: 40%
}
#header ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#signin {
    display: flex;
}
#nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#filter {
    
}
#filter ul {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    list-style: none;
}
#filter li {
    background-color: orange;
    border: 13px solid orange;
    border-radius: 8px;
}
#bottomcontainer {
    display: flex;
}
#sidebar {
    border: 1px solid black;
}
.sidebar {
    margin: 13px;
    border-bottom: 1px solid black;
}
#aboveitems {
    position: relative;
}
#itemcontainer {
    display: flex;
    flex-wrap: wrap;

}
.items {
    width: 200px;
    margin: 20px;
}